POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=database

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}

ENV=dev
REACT_APP_API_ORDERS=http://localhost:8050
REACT_APP_API_PRODUCTS=http://localhost:8070